#parse("common/taglibs.vm")
<html>
<head>
#parse("common/meta.vm")
<script type="text/javascript">
var tbl;
$( function() {
	tbl = makeTable("dbs_table","${SITE_DYN}/dbs/list.action");
});


function search(){
	flashTableStart(tbl,encodeURI(getSearchUrl()));
}

function getSearchUrl(){
	var name = $("#search_name1").val();
	var url = "${SITE_DYN}/dbs/list.action?dbsName="+encodeURIComponent(name);
	return url;
}

function reset(){
	$("input[type='text']").val("");
}
function edit(id){
	if(id == null || isNaN(id)){
		id = 0;
	}
	dhxWins= new dhtmlXWindows();
	//dhxWins.enableAutoViewport(false);
	//dhxWins.attachViewportTo("loginForm");
	//dhxWins.setImagePath("${SITE_DYN}/js/dhtmlx_std_full/imgs/");
	var win = dhxWins.createWindow("win", 20, 30, 700, 400);
	win.setText("添加/修改数据源");
	win.setModal(true);
	//win.setPosition(5, 60);
	dhxWins.window("win").centerOnScreen();
	win.attachURL("${SITE_DYN}/dbs/new.action?id="+id+"&_t="+timestramp());
	dhxWins.attachEvent("onClose",function(win){
		//flashTable(tbl,"${SITE_DYN}/dbs/list.action");
		flashTable(tbl,encodeURI(getSearchUrl()));
		return true;
	});

}

</script>

<title></title>
</head>
<body>
<div id="dbsListTab" style="width:97%;margin: 5px 5px 0px 5px;">
<table id="tool" border="0" width="100%" class="searchtable" align="center">
			<tr>
				<td>
				数据源名称：<input id="search_name1" type='text' size="40">&nbsp;&nbsp;
				<input type="button" value="查询" onclick="search();" class="button"/>
				&nbsp;
				<input type="button" value="重置" onclick="reset();" class="button"/>
					&nbsp;
					<input type="button" value="新建数据源" onclick="edit(0);" class="button"/>
				</td>
			</tr>
		</table>
	<table width="100%" cellspacing="0" cellpadding="0" border="1" class="display" id="dbs_table">
	<thead>
		<tr>
			<th style="min-width: 60px;">ID</th>
			<th style="min-width: 150px;">数据源名称</th>
			<th style="min-width: 75px;">驱动类型</th>
			<th style="min-width: 75px;">用户名</th>
			<th style="min-width: 75px;">密码</th>
			<th style="min-width: 75px;">JDBC字符串</th>
			<th style="min-width: 75px;">创建时间</th>
			<th style="min-width: 75px;">更新时间</th>
			<th style="min-width: 77px;">操作</th>
        </tr>

        </thead>
        <tbody>
        
        </tbody>
		
	</table><br>

</div>
</body>
</html>
