<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="30 seconds">

	<property name="app.log.dir" value="/data/webroot/union-query/logs" />


	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="querylogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		 <!-- 当前Log文件名 -->
		<File>${app.log.dir}/query.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${app.log.dir}/query.%d{yyyy-MM-dd}.zip</fileNamePattern>
			 <!-- 超过30天的备份文件会被删除 -->
            <maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%c:%L]-[%p] %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="wacDruid" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/data/program/logs/unionQuery/unionQuery/druid.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME:-${user.dir}}/wacDruid-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date{ISO8601} %-5level [%thread] %logger{32} - %message%n</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<logger name="com.wacai.pt.druid.masking.process.filter.WacDruidLogFilter">
		<appender-ref ref="wacDruid" />
	</logger>

	<logger name="java.sql.Connection" level="info" />
	<logger name="java.sql.PreparedStatement" level="info" />
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="info" />
	<logger name="java.sql.Statement" level="info" />
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="info" />
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="info" />
	<logger name="org.springframework" level="info" />

	<root level="info">
		<appender-ref ref="querylogfile" />
		<appender-ref ref="console" />
	</root>

</configuration>
