#parse("common/taglibs.vm")
<html>
<head>
    #parse("common/meta.vm")
    <script type="text/javascript">
        $(function () {
            valStatPathInput();
        });

        function valStatPathInput() {
            $("#sqlName").focus();
            $("#KfsqlInputForm").validate({
                rules: {
                    "sqlName": {required: true},
                    "busniessId": {required: true},
                    "priority": {required: true, digits: true, range: [0, 99]},
                    "dataSourceId": {required: true},
                    "sqlStatus": {required: true},
                    "sqlStatement": {required: true}
                },
                messages: {},
                submitHandler: function (form) {
                	$("input[name='sqlField']").each(function(){
                        var obj = $(this);
                        if(obj.val()  == null || obj.val()==''){
                            obj.val("defaultXXX");
                        }
                    });
                    $("input[name='paramDesc']").each(function(){
                        var obj = $(this);
                        if(obj.val()  == null || obj.val()==''){
                            obj.val("defaultXXX");
                        }
                    });
                    $("input[name='pids']").each(function(){
                        var obj = $(this);
                        if(obj.val()  == null || obj.val()==''){
                            obj.val("0");
                        }
                    });
                    var options = {
                        success: showResponse,
                        type: "post",
                        resetForm: false,
                        contentType: "application/x-www-form-urlencoded; charset=utf-8"
                    };
                    $("#KfsqlInputForm").ajaxSubmit(options);
                    function showResponse(data) {
                        if (data.indexOf("ok") != -1) {
                            showOk(null);
                            //flashTable(parent.tbl, "${SITE_DYN}/sql/list.action");
                            parent.dhxWins.unload();
                        } else {
                            showError(data);
                        }
                        $(document).unbind("ajaxStart");
                    }

                    return false;

                }

            });
        }

		function addParam(obj){
            var newTr = $("#paramsTr").clone(true);
            $(newTr).closest("tr").find("select").val("-1");
            $(newTr).closest("tr").find("input[type='text']").val("");
            $(newTr).closest("tr").find("input[name='pids']").val("");
            $(newTr).insertAfter($(obj).closest("tr"));
        }

        function delParam(obj){
            if($("tr[name='ptr']").length > 1){
                $(obj).closest("tr").remove();
            }else{
                //$(obj).closest("tr").find("select").val("-1");
                //$(obj).closest("tr").find("input[type='text']").val("");
                showError("请至少保留一个查询参数！");
            }
        }
    </script>
    <title></title>
</head>
<body>
<div class="mainContainer" style="margin: 5px 5px 0px 5px;">

    <form method="post" modelAttribute="kfSql" action="save.action" id="KfsqlInputForm">
        <input type="hidden" name="id" id="id" value="$!kfSql.id"/>
        <table class="form" style="width: 600px;">
            <tr>
                <td class="label_required" nowrap="nowrap">SQL名称(*)</td>
                <td><input type="text" name="sqlName" size="45" id="sqlName" maxlength="100"  value="$!kfSql.sqlName"/></td>
            </tr>
            <tr>
                <td class="label_required" nowrap="nowrap">所属业务(*)</td>
                <td>
                    <select name="busniessId" id="busniessId">
                        #foreach($k in ${busniessList})
                            <option #if($!kfSql.busniessId == $!k.id) selected="selected" #end  value="${k.id}">${k.busniessName}</option>
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label_required" nowrap="nowrap">所属数据源(*)</td>
                <td>
                    <select name="dataSourceId" id="dataSourceId">
                    	#foreach($k in ${dbsList})
                            <option #if($!kfSql.dataSourceId == $!k.id) selected="selected" #end   value="${k.id}">${k.dbsName}</option>
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label_required" nowrap="nowrap">优先级(*)</td>
                <td><input type="text" name="priority" size="3" id="priority" maxlength="2"  value="$!kfSql.priority"/></td>
            </tr>
            <tr>
                <td class="label_required" nowrap="nowrap">SQL语句(*)</td>
                <td>
                    <textarea name="sqlStatement" id="sqlStatement" cols="50" rows="30">$!kfSql.sqlStatement</textarea>
                </td>
            </tr>
            <tr>
                <td class="label_required" nowrap="nowrap">状态(*)</td>
                <td>
                    <select name="sqlStatus" id="sqlStatus">
                        #foreach($k in ${statusMap.keySet()})
                            <option  #if($!kfSql.sqlStatus == $k) selected="selected" #end value="$k">$!statusMap.get($k)</option>
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label" nowrap="nowrap">备注</td>
                <td>
                    <textarea name="sqlDesc" id="sqlDesc" cols="50" rows="3">$!kfSql.sqlDesc</textarea>
                </td>
            </tr>
        </table>
        <br>
        <table class="form" style="margin: 5px 5px 0px 5px;">
            #if($!{kfSql.getParams().size()} > 0)
                #set($count = 0)
                #foreach($sqlParam in $kfSql.params)
                    <tr #if($count == 0) id="paramsTr" #end name="ptr" >
                        <td nowrap="nowrap">
                            参数：<input type="hidden" name="pids" value="$!sqlParam.id">
                            <select name="paramId" title="tplSelect">
                                <option value="-1">-请选择-</option>
                                #foreach($param in $paramList)
                                    <option #if($sqlParam.paramId == $param.id) selected="selected" #end value="$param.id">$!{param.paramName}($!{param.fieldName})</option>
                                #end
                            </select>
                        </td>
                        <td>
                            字段名：
                            <input type="text" name="sqlField" size="45"  maxlength="100"  value="#if($stringUtils.isBlank($!sqlParam.sqlField)) $!param.sqlField #else $sqlParam.sqlField #end"/>
                        </td>
                        <td>
                            备注：
                            <input type="text" name="paramDesc" size="45"  maxlength="100"  value="$!sqlParam.paramDesc"/>
                        </td>
                        <td>
                            <input type="button" value="添加" class="button" onclick="addParam(this);"/>
                            &nbsp;
                            <input type="button" value="删除" class="button" onclick="delParam(this);"/>
                        </td>
                    </tr>
                    #set($count = $count + 1)
                #end
            #else ##如果列表没有就默认显示一个模板
                <tr id="paramsTr"  name="ptr" >
                    <td nowrap="nowrap">
                        参数：<input type="hidden" name="pids" value="0">
                        <select name="paramId" title="tplSelect">
                            <option value="-1">-请选择-</option>
                        #foreach($param in $paramList)
                            <option value="$param.id">$!{param.paramName}($!{param.fieldName})</option>
                        #end
                        </select>
                    </td>
                    <td>
                        字段名：
                        <input type="text" name="sqlField" size="45"  maxlength="100"  value=""/>
                    </td>
                    <td>
                        备注：
                        <input type="text" name="paramDesc" size="45"  maxlength="100"  value=""/>
                    </td>
                    <td>
                        <input type="button" value="添加" class="button" onclick="addParam(this);"/>
                        &nbsp;
                        <input type="button" value="删除" class="button" onclick="delParam(this);"/>
                    </td>
                </tr>
            #end


            <tr>
                <td colspan="4" class="buttons">
                    <input type="submit" value="保存" class="button"/>&nbsp;
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
