<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wac.query.dao.KfSqlParamMapper">
	<resultMap id="KfSqlParamMapper.KfSqlParam" type="com.wac.query.models.KfSqlParam">
		<id column="id" property="id"/>
		<result column="sql_id" property="sqlId"/>
		<result column="param_id" property="paramId"/>
		<result column="sql_field" property="sqlField"/>
		<result column="param_desc" property="paramDesc"/>
		<result column="created_time" property="createTime" javaType="java.util.Date"/>
		<result column="updated_time" property="updateTime" javaType="java.util.Date"/>
	</resultMap>

	<sql id="KfSqlParamMapper.fields">
		id,sql_id,param_id,sql_field,param_desc,created_time,updated_time
	</sql>

	<sql id="KfSqlParamMapper.condition">
		where 1=1
		<if test="sqlId != null and sqlId > 0">
			AND t1.sql_id =#{sqlId}
		</if>
	</sql>
	<select id="queryByCondition" parameterType="com.wac.query.models.KfSqlParam" resultMap="KfSqlParamMapper.KfSqlParam">
		SELECT <include refid="KfSqlParamMapper.fields"/>
		FROM kf_sql_param t1
		<include refid="KfSqlParamMapper.condition" />
		limit #{startIndex},#{endIndex}
	</select>

	<select id="countByCondition" resultType="int" parameterType="com.wac.query.models.KfSqlParam">
			SELECT count(*) FROM kf_sql_param t1
		<include refid="KfSqlParamMapper.condition" />
	</select>

	<select id="queryByPrimaryKey" resultMap="KfSqlParamMapper.KfSqlParam" parameterType="java.lang.Integer">
			SELECT <include refid="KfSqlParamMapper.fields"/> FROM kf_sql_param t1
		where t1.id=#{id}
	</select>

	<delete id="deleteByCondition" parameterType="com.wac.query.models.KfSqlParam">
		DELETE from kf_sql_param where param_id=#{paramId}
	</delete>
	
	<update id="updateByPrimaryKey" parameterType="com.wac.query.models.KfSqlParam">
		UPDATE kf_sql_param
			SET sql_id=#{sqlId},
			sql_field=#{sqlField},
			param_id=#{paramId},
			param_desc=#{paramDesc}
		where id=#{id}
	</update>

	<insert id="insert" parameterType="com.wac.query.models.KfSqlParam">
		INSERT INTO kf_sql_param(sql_id,param_id,sql_field,param_desc,created_time,updated_time)
		VALUES
		(#{sqlId},#{paramId},#{sqlField},#{paramDesc},#{createTime,jdbcType=TIMESTAMP },#{createTime,jdbcType=TIMESTAMP})
		<selectKey resultType="int" keyProperty="id">
			SELECT LAST_INSERT_ID() as id
		</selectKey>
	</insert>
</mapper>