#parse("common/taglibs.vm")
<html>
<head>
	#parse("common/meta.vm")
<script type="text/javascript">
var tbl;
$( function() {
	tbl = makeTable("busniess_table","${SITE_DYN}/busniess/list.html");
});


function search(){
	flashTableStart(tbl,encodeURI(getSearchUrl()));
}

function getSearchUrl(){
	var name = $("#search_name1").val();
	var url = "${SITE_DYN}/busniess/list.action?busniessName="+encodeURIComponent(name);
	return url;
}

function reset(){
	$("input[type='text']").val("");
}

var dhxWins;
function edit(id){
	if(id == null || isNaN(id)){
		id = 0;
	}
	dhxWins = new dhtmlXWindows();
	//dhxWins.enableAutoViewport(false);
	//dhxWins.attachViewportTo("loginForm");
	//dhxWins.setImagePath("${SITE_DYN}/js/dhtmlx_std_full/imgs/");
	var win = dhxWins.createWindow("win", 20, 30, 500, 140);
	win.setText("添加/修改业务");
	win.setModal(true);
	//win.setPosition(5, 60);
	dhxWins.window("win").centerOnScreen();
	win.attachURL("${SITE_DYN}/busniess/new.action?id="+id+"&_t="+timestramp());
	dhxWins.attachEvent("onClose",function(w){
		flashTable(tbl,encodeURI(getSearchUrl()));
		return true;
	});

}

function edit2(id){
	dhxWins = new dhtmlXWindows();
	var win = dhxWins.createWindow("win", 20, 30, 500, 140);
	win.setText("添加/修改业务");
	win.setModal(true);
	//win.setPosition(5, 60);
	dhxWins.window("win").centerOnScreen();
	win.attachURL("http://www.baidu.com");
	win.attachEvent("onClose",function(w){
		console.debug("win:"+w.getText());
		return true;
	});

}

</script>

<title></title>
</head>
<body>
<div id="busniessListTab" style="width:97%;margin: 5px 5px 0px 5px;">
<table id="tool" border="0" width="100%" class="searchtable" align="center">
			<tr>
				<td>
				业务名称：<input id="search_name1" type='text' size="40">&nbsp;&nbsp;
				<input type="button" value="查询" onclick="search();" class="button"/>
				&nbsp;
				<input type="button" value="重置" onclick="reset();" class="button"/>
					&nbsp;
					<input type="button" value="新建业务" onclick="edit(0);" class="button"/>
				</td>
			</tr>
		</table>
	<table width="100%" cellspacing="0" cellpadding="0" border="1" class="display" id="busniess_table">
	<thead>
		<tr>
			<th style="min-width: 60px;">ID</th>
			<th style="min-width: 150px;">业务名称</th>
			<th style="min-width: 75px;">创建时间</th>
			<th style="min-width: 75px;">更新时间</th>
			<th style="min-width: 77px;">操作</th>
        </tr>

        </thead>
        <tbody>
        
        </tbody>
		
	</table><br>

</div>
</body>
</html>
